<%# 'Isto é um comentário' %>
<h1>Boas-vindas à Task List!</h1>
<h3>Sua lista de tarefas:</h3>

<!-- Isso é um comentário: note que, no exemplo abaixo, não queremos imprimir a iteração (each), somente a descrição das tarefas -->

<% @tasks.each do |task| %>
  <%= task.description %>
  <%= link_to 'Editar', edit_task_path(task) %>
  <%= button_to 'Apagar', task_path(task), method: :delete,
      data: { confirm: 'Quer apagar esta tarefa?' } %>
<% end %>